<div>
    <? if($this->notification): ?>
        <div class="alert alert-error">
            <?= $this->notification ?>
            <span class="icon-refresh" style="float: right"></span>
        </div>
    <? endif ?>
    <div class="clearfix"></div>
    <div class="container-fluid">
    <div class="row">
        <div class="span4 span-center" style="margin-top:150px; text-align: center">
            <? if($this->form) echo $this->form ?>
        </div>
    </div>
</div>

<? $this->headScript()->captureStart() ?>
$(function(){
    $('.home-login').hide();
    $('a.btn-warning[href="/login/"]').hide();
    $('.open').click(function(){
        $('.active-row').removeClass('active-row');
        $(this).addClass('active-row');
        $.get('/login/xhr/do/' + this.id + '-open/format/html', function(html){
            $('#ajax-content').html(html);
        });
    });
    $('.icon-refresh').click(function(){
        $('.alert').hide();
    });
})
<? $this->headScript()->captureEnd() ?>
