<form class="form-horizontal" id="update-area" method="post"
    action="/admin/index/open/a/area-control/format/html">
    <input type="hidden" name="update" value="<?= $this->vars['open'] ?>">
  <div class="control-group">
    <label class="control-label">Area</label>
    <div class="controls">
      <input type="text" class="required input-update-area"
        value="<?= $this->vars['name'] ?>"
        name="name" placeholder="Area">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Code</label>
    <div class="controls">
      <input type="text" class="required input-update-area"
        value="<?= $this->vars['code'] ?>"
        name="code" placeholder="Code">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
        <div id="invalid-update-area" style="margin: -10px 0px 10px"></div>
      <button type="submit" class="btn btn-primary input-update-area">Update Area</button>
    </div>
  </div>
</form>
<script type="text/javascript">
$(function(){
    'use strict';
    $('.input-update-area').on('keyup change', function(){
        $('#invalid-update-area').empty();
    });
    $('#update-area').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){
                    $('.input-update-area').attr('disabled', 'disabled');
                },
                success: function(j){
                    if(j.update){
                        var r0 = $('input[name="area_code"]').val();
                         $('a.area[area-code="' + r0 + '"]').text(j.update.name);
                         $('a.area[area-code="' + r0 + '"]').attr('area-code', j.update.code);
                         $('input[name="area_code"]').val(j.update.code);
                         $('#control-action').html('<p>Area has been updated</p>');
                         $('.depend-on-area-control').addClass('hide');
                    }
                    if(j.invalid){
                        $('.input-update-area').removeAttr('disabled');
                        $('#invalid-update-area').html('<ul style="color: red"></ul>');
                        $.each(j.invalid, function(a, b){
                            $('#invalid-update-area ul').append('<li>' + b + '</li>');
                        });
                    }
                },
                error: function(){}
            });
        }
    });
})
</script>
