<form class="form-horizontal" id="add-area" method="post"
    action="/admin/index/open/a/area-add/format/html">
  <div class="control-group">
    <label class="control-label">Area</label>
    <div class="controls">
      <input type="text" class="required input-area"
        m="Area" f="name"
        name="name" placeholder="Area">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Code</label>
    <div class="controls">
      <input type="text" class="required input-area"
        m="Area" f="code"
        name="code" placeholder="Code">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
        <div id="invalid-report" style="margin: -10px 0px 10px"></div>
      <button type="submit" class="btn btn-primary">Add Area</button>
    </div>
  </div>
</form>
<? if(count($this->area)): ?>
<ul id="list-area" class="nav nav-pills">
    <? foreach($this->area as $area): ?>
        <li class="nav-area area-control">
            <a class="area" href="#" area-code="<?= $area['code'] ?>"
                area-id="<?= $area['id'] ?>"><?= $area['name'] ?></a>
        </li>
    <? endforeach ?>
    <li class="pull-right nav-area depend-on-area-control hide">
        <a class="control-action" x="delete" href="#">Delete</a>
    </li>
    <li class="pull-right nav-area depend-on-area-control hide">
        <a class="control-action" x="update" href="#">Update</a>
    </li>
</ul>
<? endif ?>
<script type="text/javascript">
$(function(){
    'use strict';
    $('.input-area').on('keyup change', function(){
        $('#invalid-report').empty();
    });
    $('#add-area').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){},
                success: function(j){
                    $(f).resetForm();
                    if(j.area){
                        if($('#list-area').length == 0)
                            $('#ajax-content').append('<ul id="list-area" class="nav nav-pills"></ul>');
                        $('#list-area').append('<li class="active"><a href="#">'
                            + j.area.name + '</a></li>');
                    }
                    if(j.invalid){
                        $('#invalid-report').html('<ul style="color: red"></ul>');
                        $.each(j.invalid, function(a, b){
                            $('#invalid-report ul').append('<li>' + b + '</li>');
                        });
                    }
                },
                error: function(){}
            })
        }
    });
    $('.area').click(function(el){
        el.preventDefault();
        var e = $(this),
            a = e.attr('area-code');
        $('.nav-area').removeClass('active');
        e.parent('li').addClass('active');
        if($('#ajax-reject').length == 0)
            $('#ajax-content').append('<div id="ajax-reject"></div>');
        $('#ajax-reject').html('<div style="padding: 20px; text-align: center">'
            + '<img src="/img/engine.gif"></div>');
        $('.depend-on-area-control').removeClass('hide');
        $.post('/admin/index/open/a/reject/format/html',
            {area: a}, function(html){
                $('#ajax-reject').html(html);
        });

    })
})
</script>
