<html>
	<head>
		<style type="text/css">
			.alert {
				  padding: 8px 35px 8px 14px;
				  margin-bottom: 18px;
				  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
				  background-color: #fcf8e3;
				  border: 1px solid #fbeed5;
				  -webkit-border-radius: 4px;
				  -moz-border-radius: 4px;
				  border-radius: 4px;
			}
			.alert-success {background-color: #dff0d8;border-color: #d6e9c6;}
			.alert-success, .alert-success .alert-heading {color: #468847;}
		</style>
	</head>
	<body>
		<div class="container">
			<div id="preview" style="margin-top: 40px; "></div>
			<div id="backup-progress" download="<?= $this->preview ?>"
				style="margin-top: 20px; text-align: center"></div>
		</div>
	</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	'use strict';
	$('#backup-progress').html('<div style="text-align: center; pading: 20px"><img src="/img/pulse.gif"></div>');
	$.post('/management/migrations/create-backup', {}, function(j){
		if(j.backup){
            var dw = '/management/migrations/download-backup/f/' + j.backup;
			$('#preview').html('<div class="alert alert-success">Generated backup file : ' + j.backup
				+ ' - size: ' + j.filesize + ' bytes</div>');
		}
	});
});
</script>
</html>
