<form class="form-horizontal" id="add-customer" method="post"
    action="/admin/index/open/a/customer-add/format/html">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Customer Name</label>
    <div class="controls">
      <input type="text" class="required input-customer"
        m="customer" f="name"
        name="name" placeholder="Customer Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Customer Code</label>
    <div class="controls">
      <input type="text" class="required input-customer"
        m="customer" f="code"
        name="code" placeholder="Customer Code">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
        <div id="invalid-customer" style="margin: -10px 0px 10px"></div>
      <button type="submit" class="btn btn-primary">Add customer</button>
    </div>
  </div>
</form>
<? if(count($this->customer)): ?>
    <table id="table-customer"
        class="table table-bordered table-striped table-condensed">
        <thead>
            <tr><th>Customer</th></tr>
        </thead>
        <tbody>
            <? foreach($this->customer as $customer): ?>
                <tr class="tr-customer">
                    <td>
                        <div class="span4 display" x-id="<?= $customer['id'] ?>">
                            <?= $customer['name'] ?>
                            <br><small><?= $customer['code'] ?></small>
                    </div>
                    <div class="span2">
                        <ul class="nav nav-pills"
                            x-name="<?= $customer['name'] ?>"
                            x-code="<?= $customer['code'] ?>"
                            x-id="<?= $customer['id'] ?>">
                            <li class="li-customer-control">
                                <a class="customer-control-nav" href="#" x="update">Update</a></li>
                            <li class="li-customer-control">
                                <a class="customer-control-nav" href="#" x="delete">Delete</a></li>
                        </ul>
                    </div>
                    <div class="span4 control-menu" x-id="<?= $customer['id'] ?>"></div>
                    </td>
                </tr>
            <? endforeach ?>
        </tbody>
    </table>
<? endif ?>
<script type="text/javascript">
$(function(){
    'use strict';
    $('.input-customer').on('keyup change', function(){
        $('#invalid-customer').empty();
    });
    var idActive;
    $('.customer-control-nav').click(function(el){
        el.preventDefault();
        $('.control-menu').empty();
        var e = $(this),
            x = e.attr('x'),
            r = e.closest('ul.nav-pills'),
            id = r.attr('x-id'),
            cd = r.attr('x-code'),
            nm = r.attr('x-name');
        idActive = id;
        $('.li-customer-control').removeClass('active');
        e.parent('li').addClass('active');
        if(x == 'delete'){
            $('div.control-menu[x-id="' + id + '"]').html('<span class="btn btn-danger confirm-delete">'
                + 'Confirm Delete ' + nm + '</span>'
                + ' <span class="btn cancel-delete">Cancel</span>');
            $('.cancel-delete').click(function(){
                $('.li-customer-control').removeClass('active');
                $('.control-menu').empty();
            });
            $('.confirm-delete').click(function(){
                $.post('/admin/index/open/a/customer-control/format/html', {del: id}, function(j){
                    if(j.del){
                        e.closest('tr.tr-customer').addClass('hide');
                    }
                });
            });
        }
        if(x == 'update'){
            $.get('/admin/index/open/a/customer-control/format/html',
                {open: id, code: cd, name: nm}, function(html){
                    $('div.control-menu[x-id="' + id + '"]').html(html);
            });
        }
    });
    $('#add-customer').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){},
                success: function(j){
                    $(f).resetForm();
                    if(j.customer){
                        if($('#table-customer').length == 0)
                            $('#ajax-content').append('<table id="table-customer"'
                                + ' class="table table-bordered table-striped table-condensed">'
                                + '<thead><tr><th>Customer</th></tr></thead>'
                                + '<tbody></tbody></table>');
                        $('#table-customer tbody').append('<tr><td>'
                            + j.customer.name + '<br><small>' + j.customer.code
                                + '</small></td></tr>');
                    }
                    if(j.invalid){
                        $('#invalid-customer').html('<ul style="color: red"></ul>');
                        $.each(j.invalid, function(a, b){
                            $('#invalid-customer ul').append('<li>' + b + '</li>');
                        });
                    }
                },
                error: function(){}
            })
        }
    })
})
</script>
