<div class="input-append">
    <form id="add-package-group" method="post" action="/admin/index/open/a/package-group-add/format/html">
        <input id="new-package-group" name="name"
            m="packageGroup" f="name"
            class="input-small" type="text" style="margin-right: -4px" placeholder="New Package Group">
        <button id="btn-package-group" class="btn btn-primary" type="submit">Add Package Group</button>
    </form>
    <div id="invalid-package-group" style="margin: -10px 0px 10px"></div>
</div>
<? if(count($this->packagegroup)): ?>
<dl id="list-package-group">
    <? foreach($this->packagegroup as $group): ?>
        <dt class="dt-package-group" group-id="<?= $group['id'] ?>" style="padding: 10px"
                group-name="<?= $group['name'] ?>">
            <i class="icon-pencil is-hand to-update" title="Update"></i>
            <i class="icon-trash is-hand to-delete" title="Delete"></i>
            <span class="g0-name"><?= $group['name'] ?></span>
            <div class="input-append add-package">
                <input name="name"
                    m="package" f="name"
                    group-id="<?= $group['id'] ?>"
                    class="input-small input-unique" type="text"
                    style="margin-right: -4px" placeholder="<?= $group['name'] ?> Package">
                <button class="btn btn-primary btn-add-package0" group-id="<?= $group['id'] ?>">Add Package</button>
            </div>
            <div class="invalid-package" style="margin: 0px 0px 10px; font-weight: normal"></div>
        </dt>

        <? if(count($group['packages'])): ?>
            <? foreach($group['packages'] as $p): ?>
                <dd x-group="<?= $group['id'] ?>" x-id="<?= $p['id'] ?>">
                    <i class="icon-pencil is-hand mng-package" x="update" title="Update Package"></i>
                    <i class="icon-trash is-hand mng-package" x="delete" title="Delete Package"></i>
                    <span class="display-name"><?= $p['name'] ?></span>
                    <span class="pkg-update-control"></span>
                </dd>
            <? endforeach ?>
            <hr style="margin: 10px 0px 5px">
        <? endif ?>
    <? endforeach ?>
</dl>
<? endif ?>
<script type="text/javascript">
$(function(){
    'use strict';
    $('#new-package-group').on('keyup change', function(){
        $('#invalid-package-group').empty();
    });
    $('.mng-package').click(function(){
        var e = $(this),
            x = e.attr('x'),
            p = e.parent('dd'),
            n = p.children('span.display-name').text(),
            i = p.attr('x-id'),
            c = p.children('span.pkg-update-control');
        $('div.invalid-package, span.pkg-update-control').empty();
        if(x == 'delete'){
            c.html('<span class="btn btn-danger confirm-delete-package">'
                + 'Confirm Delete ' + n + '</span>'
                + ' <span class="btn cancel-delete-package">Cancel</span>');
        }
        if(x == 'update'){
            c.html('<input id="pkg0-name" class="input-small" type="text" value="' + n + '" style="margin: 0px">'
                + ' <span class="btn btn-primary confirm-update-package">'
                + 'Confirm Update ' + n + '</span>'
                + ' <span class="btn cancel-delete-package">Cancel</span>'
                + ' <span class="invalid-notes"></span>');
            $('#pkg0-name').on('keyup change', function(){
                $('.invalid-notes').empty();
            });
        }
        $('.cancel-delete-package').click(function(){
            $('div.invalid-package, span.pkg-update-control').empty();
        });
        $('.confirm-delete-package').click(function(){
            $.post('/admin/index/open/a/package-control/format/html', {del: i}, function(j){
                if(j.del){
                    $('dd[x-id="' + i + '"]').hide();
                }
            });
        });
        $('.confirm-update-package').click(function(){
            var v0 = $.trim($('#pkg0-name').val());
            if(v0 != ''){
                $.post('/admin/index/open/a/package-control/format/html',
                    {upd: i, nm: v0}, function(j){
                        if(j.update){
                            p.children('span.display-name').html(j.update).css('color', 'blue');
                            $('div.invalid-package, span.pkg-update-control').empty();
                        }
                        if(j.invalid){
                            $('.invalid-notes').html('<ul style="color: red"></ul>');
                            $('#pkg0-name').val('');
                            $.each(j.invalid, function(a, b){
                                $('.invalid-notes ul').append('<li>' + b + '</li>');
                            });
                        }
                });
            }
        });
    });
    $('.to-delete').click(function(){
        var e = $(this),
            p = e.parent('dt'),
            id = p.attr('group-id'),
            nm = p.attr('group-name');
        $('div.invalid-package, span.pkg-update-control').empty();
        p.children('div.invalid-package').html('<span class="btn btn-danger confirm-delete">'
            + 'Confirm Delete ' + nm + '</span>'
            + ' <span class="btn cancel-delete">Cancel</span>');
        $('.cancel-delete').click(function(){
            p.children('div.invalid-package').empty();
        });
        $('.confirm-delete').click(function(){
            $.post('/admin/index/open/a/package-group-control/format/html', {del: id}, function(j){
                if(j.del){
                    e.closest('dt.dt-package-group').addClass('hide');
                    $('dd[x-group="' + id + '"]').hide();
                }
            });
        });
    });
    $('.to-update').click(function(){
        var e = $(this),
            p = e.parent('dt'),
            id = p.attr('group-id'),
            nm = p.attr('group-name');
        $('div.invalid-package, span.pkg-update-control').empty();
        p.children('div.invalid-package')
            .html('<input id="pkg-name" class="input-small" type="text" value="' + nm + '" style="margin: 0px">'
            + ' <span class="btn btn-primary confirm-update">'
            + 'Confirm Update ' + nm + '</span>'
            + ' <span class="btn cancel-delete">Cancel</span>'
            + ' <span class="invalid-notes"></span>');
        $('#pkg-name').on('keyup change', function(){
            $('.invalid-notes').empty();
        });
        $('.cancel-delete').click(function(){
            p.children('div.invalid-package').empty();
        });
        $('.confirm-update').click(function(){
            var v0 = $.trim($('#pkg-name').val());
            if(v0 != ''){
                $.post('/admin/index/open/a/package-group-control/format/html',
                    {upd: id, nm: v0}, function(j){
                        if(j.update){
                            p.children('span.g0-name').html(j.update
                                 + ' <span style="font-weight: normal; color: blue">(Updated)</span>');
                            nm = j.update;
                            p.children('div.invalid-package').empty();
                            $('dt[group-id="' + id + '"]').attr('group-name', j.update);
                        }
                        if(j.invalid){
                            $('.invalid-notes').html('<ul style="color: red"></ul>');
                            $('#pkg-name').val('');
                            $.each(j.invalid, function(a, b){
                                $('.invalid-notes ul').append('<li>' + b + '</li>');
                            });
                        }
                });
            }
        });
    });
    $('#add-package-group').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){},
                success: function(j){
                    $(f).resetForm();
                    if(j.packagegroup){
                        if($('#table-package-group').length == 0)
                            $('#ajax-content').append('<table id="table-package-group"'
                            + ' class="table table-bordered table-striped table-condensed">'
                            + '<thead><tr><th>Package Group</th></tr></thead><tbody></tbody></table>');
                        $('#table-package-group tbody').append('<tr><td>' + j.packagegroup.name + '</td></tr>');
                    }
                    if(j.invalid){
                        $('#invalid-package-group').html('<ul style="color: red"></ul>');
                        $.each(j.invalid, function(a, b){
                            $('#invalid-package-group ul').append('<li>' + b + '</li>');
                        });
                    }
                },
                error: function(){}
            })
        }
    });
    $('.input-unique').on('keyup change', function(){
        var e = $(this),
            g = e.attr('group-id');
        $('dt[group-id="' + g + '"] div.invalid-package').empty();
    })
    $('.btn-add-package0').click(function(){
        var ee = $(this),
            gg = ee.attr('group-id'),
            v0 = $('input[group-id="' + gg + '"]'),
            vv = $.trim(v0.val());
        if(vv != ''){
            $.post('/admin/index/open/a/package-add/format/html',
                {g: gg, p: vv}, function(j){
                    v0.val('');
                    if(j.package){
                        $('dt[group-id="' + gg + '"]').after('<dd>' + j.package.name + '</dd>')
                    }
                    if(j.invalid){
                        $('dt[group-id="' + gg + '"] div.invalid-package')
                            .html('<ul style="color: red"></ul>');
                        $.each(j.invalid, function(c, d){
                            $('dt[group-id="' + gg + '"] div.invalid-package ul')
                                .append('<li>' + d + '</li>');
                        });
                    }
            });
        }
    });


})
</script>
