
    <form class="form-horizontal span4" id="add-reject" method="post"
        action="/admin/index/open/a/reject-add/format/html">
        <input type="hidden" name="area_code" value="<?= $this->area ?>"
      <div class="control-group">
        <label class="control-label" >Reject Name</label>
        <div class="controls">
          <input type="text" class="required input-unique"
            m="reject" f="name" v2="<?= $this->area ?>" f2="area_code"
            name="name" placeholder="reject Name">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Reject Code</label>
        <div class="controls">
          <input type="text" class="required input-unique"
            m="reject" f="code"
            name="code" placeholder="reject Code">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
            <div id="invalid-reject" style="margin: -10px 0px 10px"></div>
          <button type="submit" id="btn-reject" class="btn btn-primary">Add reject</button>
        </div>
      </div>
    </form>

    <div class="span8" id="control-action"></div>

    <? if(count($this->reject)): ?>
        <table id="table-reject"
            class="table table-bordered table-striped table-condensed">
            <thead>
                <tr><th>reject</th></tr>
            </thead>
            <tbody>
                <? foreach($this->reject as $reject): ?>
                    <tr class="tr-reject">
                        <td>
                            <div class="span4 display" x-id="<?= $reject['id'] ?>">
                                <?= $reject['name'] ?>
                                <br><small><?= $reject['code'] ?></small>
                            </div>
                            <div class="span2">
                                <ul class="nav nav-pills"
                                    x-name="<?= $reject['name'] ?>"
                                    x-code="<?= $reject['code'] ?>"
                                    x-id="<?= $reject['id'] ?>">
                                    <li class="li-reject-control">
                                        <a class="reject-control-nav" href="#" x="update">Update</a></li>
                                    <li class="li-reject-control">
                                        <a class="reject-control-nav" href="#" x="delete">Delete</a></li>
                                </ul>
                            </div>
                            <div class="span4 control-menu" x-id="<?= $reject['id'] ?>"></div>
                        </td>
                    </tr>
                <? endforeach ?>
            </tbody>
        </table>
    <? endif ?>

<script type="text/javascript">
$(function(){
    'use strict';
    var r0 = $('input[name="area_code"]').val();
    var a0 = $('a.area[area-code="' + r0 + '"]').parent('li');
    var t0 = $('a.area[area-code="' + r0 + '"]').text();
    var i0 = $('a.area[area-code="' + r0 + '"]').attr('area-id');
    $('.input-unique').on('keyup change',function(){
        $('#invalid-reject').empty();
    });
    $('.reject-control-nav').click(function(el){
        el.preventDefault();
        $('.control-menu').empty();
        var e = $(this),
            x = e.attr('x'),
            r = e.closest('ul.nav-pills'),
            id = r.attr('x-id'),
            cd = r.attr('x-code'),
            nm = r.attr('x-name');
        $('.li-reject-control').removeClass('active');
        e.parent('li').addClass('active');
        if(x == 'delete'){
            $('div.control-menu[x-id="' + id + '"]').html('<span class="btn btn-danger confirm-delete">'
                + 'Confirm Delete ' + nm + '</span>'
                + ' <span class="btn cancel-delete">Cancel</span>');
            $('.cancel-delete').click(function(){
                $('.li-reject-control').removeClass('active');
                $('.control-menu').empty();
            });
            $('.confirm-delete').click(function(){
                $.post('/admin/index/open/a/reject-control/format/html', {del: id}, function(j){
                    if(j.del){
                        e.closest('tr.tr-reject').addClass('hide');
                    }
                });
            });
        }
        if(x == 'update'){
            $.get('/admin/index/open/a/reject-control/format/html',
                {open: id, code: cd, name: nm}, function(html){
                    $('div.control-menu[x-id="' + id + '"]').html(html);
            });
        }
    });
    $('.control-action').click(function(el){
        el.preventDefault();
        var e = $(this),
            x = e.attr('x');
        if(x == 'delete'){
            $('#control-action').html('<span class="btn btn-danger" id="confirm-delete">'
                + 'Confirm Delete</span>');
            $('#confirm-delete').click(function(){
                $('#ajax-reject').html('<div style="padding: 20px; text-align:center">'
                    + '<img src="/img/engine.gif"></div>');
                $('.depend-on-area-control').addClass('hide');
                $.post('/admin/index/open/a/area-control/format/html', {del: i0}, function(j){
                    if(j.del){
                        $('#ajax-reject').empty();
                        a0.addClass('hide');
                    }
                });
            });
        }
        if(x == 'update'){
            $.get('/admin/index/open/a/area-control/format/html',
                {open: i0, name: t0, code: r0}, function(html){
                    $('#control-action').html(html);
                });
        }
    })
    $('#add-reject').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){},
                success: function(j){
                    $(f).resetForm();
                    if(j.reject){
                        if($('#table-reject').length == 0)
                            $('#ajax-reject').append('<table id="table-reject"'
                                + ' class="table table-bordered table-striped table-condensed">'
                                + '<thead><tr><th>Reject</th></tr></thead>'
                                + '<tbody></tbody></table>');
                        $('#table-reject tbody').append('<tr><td>'
                            + j.reject.name + '<br><small>' + j.reject.code
                                + '</small></td></tr>');
                    }
                    if(j.invalid){
                        $('#invalid-reject').html('<ul style="color: red"></ul>');
                        $.each(j.invalid, function(a, b){
                            $('#invalid-reject ul').append('<li>' + b + '</li>');
                        });
                    }
                },
                error: function(){}
            })
        }
    })
})
</script>
