<form class="form-inline" id="update-reject" method="post" style="margin: 0px;"
    action="/admin/index/open/a/reject-control/format/html">
    <input type="hidden" name="update" value="<?= $this->vars['open'] ?>">
      <input type="text" class="input-small update-reject-input" name="code"
            placeholder="Code" value="<?= $this->vars['code'] ?>">
      <input type="text" class="input-medium update-reject-input" name="name"
            placeholder="Name" value="<?= $this->vars['name'] ?>">
      <button type="submit" class="btn btn-primary update-reject-input">Update</button>
  <span class="btn btn-cancel">Cancel</span>
</form>
<div id="invalid-update-reject"></div>
<script type="text/javascript">
$(function(){
    $('span.btn-cancel').click(function(){
        $('.li-reject-control').removeClass('active');
        $('.control-menu').empty();
    });
    $('.update-reject-input').on('keyup change', function(){
        $('#invalid-update-reject').empty();
    });
    var xId = $('input[name="update"]').val();
    $('#update-reject').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){
                    $('.update-reject-input').attr('disabled', 'disabled');
                },
                success: function(j){
                    if(j.update){
                         $('div.display[x-id="' + xId +'"]').html(j.update.name
                            + '<br><small>' + j.update.code + '</small>');
                         $('.nav-pills[x-id="' + xId + '"]')
                            .attr('x-code', j.update.code).attr('x-name', j.update.name);
                         $(f).parent().html('<p>Reject has been updated</p>');
                         $('.li-reject-control').removeClass('active');
                    }
                    if(j.invalid){
                        $('.update-reject-input').removeAttr('disabled');
                        $('#invalid-update-reject').html('<ul style="color: red"></ul>');
                        $.each(j.invalid, function(a, b){
                            $('#invalid-update-reject ul').append('<li>' + b + '</li>');
                        });
                    }
                },
                error: function(){}
            });
        }
    });
})
</script>
