<div class="input-append">
    <form id="add-reporttype" method="post" action="/admin/index/open/a/report-type-add/format/html">
        <input id="new-reporttype" name="name"
            m="problemCategory" f="name"
            class="input-small" type="text" style="margin-right: -4px" placeholder="New Report Type">
        <button id="btn-reporttype" class="btn btn-primary" type="submit">Add Report Type</button>
    </form>
    <div id="invalid-report" style="margin: -10px 0px 10px"></div>
</div>
<? if(count($this->rTypeDef)): ?>
<ul id="list-reporttype" class="nav nav-pills">
    <? foreach($this->rTypeDef as $rtd): ?>
        <li class="active">
            <a href="#"class="reporttype-control" x-id="<?= $rtd['id'] ?>"><?= $rtd['name'] ?></a>
        </li>
    <? endforeach ?>
</ul>
<div id="reporttype-control"></div>
<? endif ?>
<script type="text/javascript">
$(function(){
    'use strict';
    $('#new-reporttype').on('keyup change', function(){
        $('#invalid-report').empty();
    });
    $('.reporttype-control').click(function(el){
        el.preventDefault();
        var e = $(this),
            v = e.text(),
            id = e.attr('x-id');
        $('#reporttype-control').html('<span class="btn btn-danger is-confirm" x="del">'
            + 'Confirm Delete Report Type ' + v + '</span>'
            + ' <span class="btn" id="cancel-delete">Cancel</span>');
        $('#cancel-delete').click(function(){
            $('#reporttype-control').empty();
        });
        $('.is-confirm').click(function(){
            var f = $(this),
                x = f.attr('x');
            $.post('/admin/index/open/a/report-type-control/format/html/' + x + '/' + id, {}, function(j){
                if(j.del) e.parent('li').addClass('hide');
                $('#reporttype-control').empty();
            });
        });
    });
    $('#add-reporttype').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){},
                success: function(j){
                    $(f).resetForm();
                    if(j.reporttype){
                        if($('#list-reporttype').length == 0)
                            $('#ajax-content').append('<ul id="list-reporttype" class="nav nav-pills"></ul>');
                        $('#list-reporttype').append('<li class="active"><a href="#">'
                            + j.reporttype.name + '</a></li>');
                    }
                    if(j.invalid){
                        $('#invalid-report').html('<ul style="color: red"></ul>');
                        $.each(j.invalid, function(a, b){
                            $('#invalid-report ul').append('<li>' + b + '</li>');
                        });
                    }
                },
                error: function(){}
            })
        }
    })
})
</script>
