<div class="input-append">
    <form id="add-shift" method="post" action="/admin/index/open/a/shift-add/format/html">
        <input id="new-shift" name="shift"
            m="Shift" f="name"
            class="input-mini" type="text" style="margin-right: -4px" placeholder="New Shift">
        <button id="btn-shift" class="btn btn-primary" type="submit">Add Shift</button>
    </form>
    <div id="invalid-shift" style="margin: -10px 0px 10px"></div>
</div>
<? if(count($this->shift)): ?>
<ul id="list-shift" class="nav nav-pills">
    <? foreach($this->shift as $shift): ?>
        <? $isActive = $shift['isactive'] ? 'active' : '' ?>
        <li class="li-shift <?= $isActive ?>">
            <a href="#" class="shift-control" x-id="<?= $shift['id'] ?>"><?= $shift['name'] ?></a>
        </li>
    <? endforeach ?>
</ul>
<div id="shift-control"></div>
<? endif ?>
<script type="text/javascript">
$(function(){
    'use strict';
    $('#new-shift').on('keyup change', function(){
        $('#invalid-shift').empty();
    });
    $('.shift-control').click(function(el){
        el.preventDefault();
        var e = $(this),
            v = e.text(),
            id = e.attr('x-id');
        $('#shift-control').html('<span class="btn btn-danger is-confirm" x="del">'
            + 'Confirm Delete Shift ' + v + '</span>'
            + ' <span class="btn btn-warning is-confirm" x="upd">'
                + 'Confirm Enable/Disable Shift ' + v + '</span>'
            + ' <span class="btn" id="cancel-delete">Cancel</span>');
        $('#cancel-delete').click(function(){
            $('#shift-control').empty();
        });
        $('.is-confirm').click(function(){
            var f = $(this),
                x = f.attr('x');
            $.post('/admin/index/open/a/shift-control/format/html/' + x + '/' + id, {}, function(j){
                if(j.update && j.update == 'non-active') e.parent().removeClass('active');
                if(j.update && j.update == 'active') e.parent().addClass('active');
                if(j.del) e.parent('li').addClass('hide');
                $('#shift-control').empty();
            });
        });
    });
    $('#add-shift').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){},
                success: function(j){
                    $(f).resetForm();
                    if(j.shift){
                        if($('#list-shift').length == 0)
                            $('#ajax-content').append('<ul id="list-shift" class="nav nav-pills"></ul>');
                        $('#list-shift').append('<li class="active"><a href="#">'
                            + j.shift.name + '</a></li>');
                    }
                    if(j.invalid){
                        $('#invalid-shift').html('<ul style="color: red"></ul>');
                        $.each(j.invalid, function(a, b){
                            $('#invalid-shift ul').append('<li>' + b + '</li>');
                        });
                    }
                },
                error: function(){}
            })
        }
    })
})
</script>
