<form class="form-horizontal" id="add-user" method="post"
    action="/admin/index/open/a/user-add/format/html">
  <div class="control-group">
    <label class="control-label">Username</label>
    <div class="controls">
      <input type="text" class="required input-unique"
        m="user" f="username"
        name="username" placeholder="user Name">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Fullname</label>
    <div class="controls">
      <input type="text" class="required input-user"
        m="user" f="fullname"
        name="fullname" placeholder="Fullname">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Default Password</label>
    <div class="controls">
      <input type="text" class="required input-user"
        m="user" f="fullname" value="123456"
        name="password" placeholder="Default Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
        <div id="invalid-user" style="margin: -10px 0px 10px"></div>
      <button type="submit" id="btn-user" class="btn btn-primary">Add user</button>
    </div>
  </div>
</form>
<? if(count($this->user)): ?>
    <table id="table-user"
        class="table table-bordered table-striped table-condensed">
        <thead>
            <tr><th>User</th>
                <? if(count($this->area)): ?>
                    <th colspan="<?= count($this->area) ?>" style="text-align: center">Area</th>
                <? endif ?>
                <? if(count($this->shift)): ?>
                    <th colspan="<?= count($this->shift) ?>" style="text-align: center">Shift</th>
                <? endif ?>
                <? if(count($this->pkgGroup)): ?>
                    <th colspan="<?= count($this->pkgGroup) ?>" style="text-align: center">Package</th>
                <? endif ?>
            </tr>
        </thead>
        <tbody>
            <? foreach($this->user as $user): ?>
                <tr class="user" user-id="<?= $user['id'] ?>">
                    <td>
                        <?= $user['fullname'] ?>
                        <br><small><?= $user['username'] ?> -
                            <?= ucfirst($user['role']) ?></small>
                    </td>
                    <? if(count($this->area)): ?>
                        <? foreach($this->area as $a): ?>
                            <? $assign = in_array($a['code'], $user['assignment']) ? 'label-info' : '' ?>
                            <td style="vertical-align: middle; text-align: center">
                                <span class="label user-assign is-hand <?= $assign ?>"
                                    assign-code="<?= $a['code'] ?>">
                                    <?= $a['name'] ?></span></td>
                        <? endforeach ?>
                    <? endif ?>
                    <? if(count($this->shift)): ?>
                        <? foreach($this->shift as $s): ?>
                            <? $shift = $user['shift'] == $s['name'] ? 'label-info' : '' ?>
                            <td style="vertical-align: middle; text-align: center">
                                <span class="label user-shift is-hand <?= $shift ?> user-<?= $user['id'] ?>"
                                    shift-code="<?= $s['name'] ?>">
                                    <?= $s['name'] ?></span></td>
                        <? endforeach ?>
                    <? endif ?>
                    <? if(count($this->pkgGroup)): ?>
                        <? foreach($this->pkgGroup as $s): ?>
                            <? $package = in_array($s['name'], $user['packages']) ? 'label-info' : '' ?>
                            <td style="vertical-align: middle; text-align: center">
                                <span group-name="<?= $s['name'] ?>"
                                    class="label user-package is-hand <?= $package ?> user-<?= $user['id'] ?>">
                                    <?= $s['name'] ?></span></td>
                        <? endforeach ?>
                    <? endif ?>
                </tr>
            <? endforeach ?>
        </tbody>
    </table>
<? endif ?>
<script type="text/javascript">
$(function(){
    'use strict';
    $('.input-unique').on('keyup change', function(){
        $('#invalid-user').empty();
    });
    $('#add-user').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){},
                success: function(j){
                    $(f).resetForm();
                    if(j.user){
                        if($('#table-user').length == 0)
                            $('#ajax-content').append('<table id="table-user"'
                                + ' class="table table-bordered table-striped table-condensed">'
                                + '<thead><tr><th>user</th></tr></thead>'
                                + '<tbody></tbody></table>');
                        $('#table-user tbody').append('<tr><td>'
                            + '<span class="label label-important">New user</span> '
                            + j.user.fullname + '<br><small>'
                                + j.user.username + ' - '
                                + j.user.role.toUpperCase()
                                + '</small></td></tr>');
                    }
                    if(j.invalid){
                        $('#invalid-user').html('<ul style="color: red"></ul>');
                        $.each(j.invalid, function(a, b){
                            $('#invalid-user ul').append('<li>' + b + '</li>');
                        });
                    }
                },
                error: function(){}
            })
        }
    });

    $('.user-shift').click(function(){
        var e = $(this),
            v = e.attr('shift-code'),
            r = e.closest('tr.user'),
            u = r.attr('user-id');
        $.post('/admin/index/open/a/user-control-shift/format/html',
            {id: u, shift: v}, function(j){
                $('.user-' + u).removeClass('label-info');
                if(j.shift == v) e.addClass('label-info');
        });
    });
    $('.user-assign').click(function(){
        var e = $(this),
            v = e.attr('assign-code'),
            r = e.closest('tr.user'),
            u = r.attr('user-id');
        $.post('/admin/index/open/a/user-control-assignment/format/html',
            {id: u, assign: v}, function(j){
                if(j.remove) e.removeClass('label-info');
                if(j.add) e.addClass('label-info');
        });
    });
    $('.user-package').click(function(){
        var e = $(this),
            v = e.attr('group-name'),
            r = e.closest('tr.user'),
            u = r.attr('user-id');
        $.post('/admin/index/open/a/user-control-package/format/html',
            {id: u, package: v}, function(j){
                if(j.remove) e.removeClass('label-info');
                if(j.add) e.addClass('label-info');
        });
    });
})
</script>
