<?= $this->doctype() ?>
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <?= $this->headTitle() ?>
        <?= $this->headMeta() ?>
        <?= $this->headLink() ?>
        <?= $this->headStyle() ?>
    </head>
    <body style="padding-left: 10px">
        <?= $this->layout()->content; ?>
    </body>
</html>
