<?= $this->doctype() ?>
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <?= $this->headTitle() ?>
        <?= $this->headMeta() ?>
        <?= $this->headLink() ?>
        <?= $this->headStyle() ?>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/">New Central PE</a>
                    <ul class="nav">
                        <li>
                            <form class="navbar-form" method="post" id="search-by-lot"
                                action="index/open/a/search-lots/format/html">
                                <input id="input-search" name="search" class="span2" type="text" placeholder="Lot">
                                <button id="btn-search" disabled style="margin-bottom: 0px" type="submit" class="btn">Search</button>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="active"><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="main-content" style="margin-top: 50px"> <!-- MAIN CONTENT -->
                <?= $this->layout()->content; ?>
            </div> <!-- MAIN CONTENT  END -->
        </div>
    </body>
        <?= $this->headScript() ?>
    <script type="text/javascript">
     //<![CDATA[
    /* manage */
    $(function(){
        'use strict';
        $('#input-search').on('keyup change', function(){
            var e = $(this),
                v = $.trim(e.val());
            if(v != '') $('#btn-search').removeAttr('disabled');
            else $('#btn-search').attr('disabled', 'disabled');
        });
        $('#search-by-lot').validate({
            submitHandler: function(f){
                $(f).ajaxSubmit({
                    beforeSubmit: function(){
                        $('.main-content').empty().addClass('inprogress-section');
                    },
                    success: function(html){
                        $('.main-content').removeClass('inprogress-section').html(html);
                    },
                    error: function(){}
                })
            }
        });
    });
    //]]>
   </script>
</html>
