<?= $this->doctype() ?>
<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
    <head>
        <?= $this->headTitle() ?>
        <?= $this->headMeta() ?>
        <?= $this->headLink() ?>
        <?= $this->headStyle() ?>
    </head>
    <body>
        <div class="navbar"> <!-- MAIN MENU -->
          <div class="navbar-inner">
            <div class="container-fluid">
              <div class="nav-collapse">
                <ul class="nav">
                    <li class="brand">Central PE New!</li>
                    <li class="active"><a id="dashboard" class="menuMain" href="/">Dashboard</a></li>
                    <li><a id="open-shiftly" class="menuMain" href="/">Shiftly</a></li>
                    <? if($this->login && $this->login->role == 'system-admin'): ?>
                        <li class="dropdown">
                            <a id="manage" class="menuMain" data-toggle="dropdown">
                                <i class="icon-cog icon-white"></i> Definition &amp; Manage
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="open-form" id="user" href="#">
                                        <span class="icon-user"></span> User
                                    </a>
                                </li>
                                <li>
                                    <a class="open-form" id="area" href="#">
                                        <span class="icon-qrcode"></span> Area and Reject
                                    </a>
                                </li>
                                <li>
                                    <a class="open-form" id="customer" href="#">
                                        <span class="icon-plane"></span> Customer
                                    </a>
                                </li>
                                <li>
                                    <a class="open-form" id="shift" href="#">
                                    <span class="icon-wrench"></span> Shift
                                    </a>
                                </li>
                                <li>
                                    <a class="open-form" id="package-group" href="#">
                                    <span class="icon-wrench"></span> Package
                                    </a>
                                </li>
                                <li>
                                    <a class="open-form" id="report-type" href="#">
                                    <span class="icon-wrench"></span> Report Type
                                    </a>
                                </li>
                            </ul>
                        </li>
                    <? endif ?>
                    <li style="margin-left: 10px">
                        <form class="navbar-form" method="post" id="search-by-lot"
                            action="index/open/a/search-lots/format/html">
                            <input id="input-search" name="search" class="span2" type="text" placeholder="Lot">
                            <button id="btn-search" disabled style="margin-bottom: 0px" type="submit" class="btn">Search</button>
                        </form>
                    </li>
                </ul>
              </div>
              <ul class="nav pull-right">
                  <li><a id="profile" href="#"><?= $this->login->fullname ?></a></li>
                  <li class="active"><a href="/login/out">Log Out</a></li>
              </ul>

            </div>
          </div>
        </div>  <!-- MAIN MENU END -->

        <div class="container-fluid" id="primary-content">
            <div id="ajax-content" class="row-fluid main-content" style="min-height:450px;"> <!-- MAIN CONTENT -->
                <?= $this->layout()->content; ?>
            </div> <!-- MAIN CONTENT  END -->
            <div id="popup" style="position: fixed; top: 50px; z-index: 99;  width: 80%;
                    border: solid 1px #ccc; padding: 10px 5px; background-color: white; display: none">
            </div>
        </div>
        <div id="primary-iframe" class="iframImage" style="display: none">
            <iframe id="iframe-upload" src="" style="zoom:0.60" width="99.6%" height="500" frameborder="1"></iframe>
        </div>
        <div class="clearfix"><!-- CLEAR --></div>

        <footer>
            <div class="copyright">
                <div class="span12">
                    <label>New Central PE</label>
                </div>
            </div>
        </footer>


    </body>
        <?= $this->headScript() ?>
    <script type="text/javascript">
     //<![CDATA[
    /* manage */
    $(function(){
        'use strict';
        $('#input-search').on('keyup change', function(){
            var e = $(this),
                v = $.trim(e.val());
            if(v != '') $('#btn-search').removeAttr('disabled');
            else $('#btn-search').attr('disabled', 'disabled');
        });
        $('#search-by-lot').validate({
            submitHandler: function(f){
                $(f).ajaxSubmit({
                    beforeSubmit: function(){
                        $('#ajax-content').empty().addClass('inprogress-section');
                    },
                    success: function(html){
                        $('#ajax-content').removeClass('inprogress-section').html(html);
                    },
                    error: function(){}
                })
            }
        });
        $('#open-shiftly').click(function(el){
            el.preventDefault();
            var e = $(this);
            $('ul.nav li').removeClass('active');
            e.parent().addClass('active');
            $('#ajax-content').empty().addClass('inprogress-section');
            $.post('/shiftly/index/format/html', function(html){
                $('#ajax-content').removeClass('inprogress-section').html(html);
            });
        })
        $('.open-form').click(function(e){
            e.preventDefault();
            $('#primary-content').show();
            $('#primary-iframe').hide();
            $('ul.nav li').removeClass('active');

            var el = $(this);
            el.closest('li.dropdown').addClass('active');
            $('.open-form').removeClass('btn-warning');
            $('li a.btn-warning').removeClass('btn-warning');
            $('#ajax-content').empty().addClass('inprogress-section');
            $.post('/admin/index/open/a/' + this.id + '/format/html', function(html){
                el.addClass('btn-warning');
                $('#ajax-content').removeClass('inprogress-section').html(html);
            });
        });

        $('#profile').click(function(ev){
            ev.preventDefault();
            $('#ajax-content').empty().addClass('inprogress-section');
            $.post('/profile/index/format/html', {}, function(html){
                $('#ajax-content').removeClass('inprogress-section').html(html);
            });
        });
    });
     //]]>
    </script>
</html>
