<div class="span2 no-outer-left">
    <? if(count($this->pGroup)): ?>
        <dl>
            <? $ref = 0 ?>
            <? foreach($this->pGroup as $pGroup): ?>
                <dt class="dt-nav" package-group="<?= $pGroup['name'] ?>" group-ref="g-<?= $ref ?>">
                    <i class="icon-align-justify icon-white  is-hand" style="padding: 0px"></i>
                    <?= $pGroup['name'] ?>
                    <i class="icon-search browse is-hand icon-white pull-right" style="padding: 0px"></i>
                    </dt>
                <? if(count($pGroup['packages'])): ?>
                    <? foreach($pGroup['packages'] as $p): ?>
                        <dd class="dd-nav hide g-<?= $ref ?>" package-code="<?= $p['name'] ?>"
                            group="<?= $pGroup['name'] ?>"><?= $p['name'] ?>
                            <i class="icon-search pull-right is-hand browse" style="padding: 0px"></i>
                        </dd>
                    <? endforeach ?>
                <? endif ?>
                <? $ref++ ?>
            <? endforeach ?>
        </dl>
        <dl>
            <? if(count($this->areaReject)): ?>
                <? $r0 = 100 ?>
                <? foreach($this->areaReject as $a): ?>
                    <dt class="dt-nav" style="background-color: #004D40"
                        reject-group="<?= $a['code'] ?>" group-ref="g-<?= $r0 ?>">
                        <i class="icon-align-justify icon-white  is-hand" style="padding: 0px"></i>
                        <?= $a['name'] ?>
                        <i class="browse icon-search pull-right is-hand icon-white" style="padding: 0px"></i>
                        <? if(count($a['rejects'])): ?>
                            <? foreach($a['rejects'] as $a): ?>
                                <dd class="dd-nav hide g-<?= $r0 ?>" reject-code="<?= $a['code'] ?>"
                                    group="<?= $a['name'] ?>"><?= $a['name'] ?>
                                    <i class="icon-search pull-right is-hand browse"
                                        style="padding: 0px;"></i>
                                </dd>
                            <? endforeach ?>
                        <? endif ?>
                    </dt>
                    <? $r0++ ?>
                <? endforeach ?>
            <? endif ?>
        </dl>
        <? if($this->bymachine): ?>
            <dl>
                <dt class="dt-nav" group-ref="g-machine" style="background-color: #3E2723">
                    <i class="icon-align-justify icon-white  is-hand" style="padding: 0px"></i>
                    Explore By Machine
                </dt>
                <? foreach($this->bymachine as $m): ?>
                    <? $expl = explode('-', $m[0]) ?>
                    <dd class="dd-nav hide g-machine"
                        reject-group="<?= $expl[0] ?>"
                        machine-number="<?= $expl[1] ?>">
                        <?= $m[1] . ' ' . $m[0] ?>
                        <i class="icon-search pull-right is-hand browse"
                            style="padding: 0px;"></i>
                    </dd>
                <? endforeach ?>
            </dl>
        <? endif ?>
        <p style="text-align: center; color:#B39DDB; font-size: .8em">< based on last 15 days ></p>
        <hr style="border: solid 2px #ccc; margin-top: 0px;">
        <dl>
            <dt class="dt-nav" group-ref="g-ww" style="background-color: #E65100">
                <i class="icon-align-justify icon-white  is-hand" style="padding: 0px"></i>
                Explore By Workweek
            </dt>
            <? foreach($this->wwList as $ww => $vv): ?>
                <dd class="dd-nav hide g-ww"
                    ww-start="<?= $vv['start'] ?>"
                    ww-end="<?= $vv['end'] ?>">
                    <?= $ww ?> <span style="font-size: .8em">(<?= $vv['start'] ?>)</span>
                    <i class="icon-search pull-right is-hand browse"
                        style="padding: 0px;"></i>
                </dd>
            <? endforeach ?>
        </dl>
    <? endif ?>
</div>
<div class="span10" id="main-detail">
    <? if(count($this->report)): ?>
        <div id="main-chart"></div>
        <a class="pull-right" href="/index/download" target="_blank">Download</a>
        <hr>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Lot</th>
                    <th>Package</th>
                    <th>Customer</th>
                    <th>MC</th>
                    <th>Status</th>
                    <th>Problem</th>
                    <th># Reject</th>
                </tr>
            </thead>
            <tbody style="font-size: .9em;">
                <? $i = 1 ?>
                <? foreach($this->report as $m0): ?>
                   <? if(count($m0['report'])): ?>
                       <? foreach($m0['report'] as $k => $r): ?>
                            <tr class="report is-hand" report-id="<?= $r['id'] ?>">
                                <td><?= $i ?></td>
                                <td><?= $m0['lot'] ?></td>
                                <td><?= $m0['package'] ?></td>
                                <td><?= $m0['customer'] ?></td>
                                <td><?= $r['area'] . '-' . $r['mc-number'] ?></td>
                                <td><?= $r['problem-type'] ?></td>
                                <td><?= $r['reject-name'] ?></td>
                                <td><?= $r['reject-qty'] ?></td>
                            </tr>
                            <? $i++ ?>
                    <? endforeach ?>
                   <? endif ?>
                <? endforeach ?>
            </tbody>
        </table>
        <hr>
    <div id="report-detail"></div>
<? else: ?>
    <div class="alert alert-info">No Report</div>
<? endif ?>
</div>
<? $this->headScript()->captureStart() ?>
$(function(){
    'use strict';
    $('.dt-nav .icon-align-justify').click(function(){
        var r = $(this).parent('dt.dt-nav'),
            g = r.attr('group-ref');
        $('dd.' + g).toggleClass('hide');
    });

    $('.browse').click(function(){
        var e = $(this),
            p = e.parent(),
            pg = p.attr('package-group'),
            pp = p.attr('package-code'),
            gg = p.attr('reject-group'),
            rr = p.attr('reject-code'),
            mm = p.attr('machine-number'),
            w0 = p.attr('ww-start'),
            w1 = p.attr('ww-end');
        $('#main-detail').empty().addClass('inprogress-section');
        $('.nav-active').removeClass('nav-active');
        p.addClass('nav-active');
        $.post('/index/open/a/search-lots/format/html',
            {byrejectgroup: gg, byrejectcode: rr, bymachine:mm, bygroup: pg, bypackage: pp, ww0: w0, ww1: w1},
            function(html){
                $('#main-detail').removeClass('inprogress-section').html(html);
        });
    })

    $('.report').click(function(){
        var e = $(this),
            rid = e.attr('report-id');
        $('#report-detail').html('<div style="padding: 20px; text-align: center">'
            + '<img src="/img/engine.gif"></div>')
        $.post('/index/open/a/report-detail/format/html',
            {id: rid}, function(html){
                $('#report-detail').html(html);
        });
    });
    if($('#main-chart').length){
        setTimeout(function(){
            $('#main-chart')
                .html('<div style="padding: 20px; text-align: center"><img src="/img/block-80.gif"></div>');
            $.post('/api/source-chart', {}, function(j){
                if(j.package){
                $('#main-chart').html('<div class="panel panel-primary">'
        			+ '<div class="panel-heading"><h3 class="panel-title">' + j.package.title + '</h3>'
                        + '<span source="package" class="is-hand chart-display label label-warning">Package Distribution</span> '
                        + '<span source="mc"  class="is-hand chart-display label">Machine Distribution</span> '
                        + '<span source="problem" class="is-hand chart-display label">Problem Distribution</span> '
                        + '<span source="customer" class="is-hand chart-display label">Customer Distribution</span> '
        			+ '</div><div class="panel-body chart-background" style="padding: 10px">'
        			+ '<div id="simple-chart" style="width: 800px; height: 300px;"></div></div></div>');
                    generalChart('simple-chart', j.package.source);
                    $('.chart-display').click(function(){
                        var e = $(this),
                            s = e.attr('source'),
                            st = e.text(),
                            s0 = j[s];
                        $('.chart-display').removeClass('label-warning');
                        e.addClass('label-warning');
                        $('h3.panel-title').html(s0.title);
                        $('#simple-chart').empty();
                        generalChart('simple-chart', s0.source);
                    });
                } else $('#main-chart').html('Chart failed to generate').css('color', '#fff');
            });
        }, 100);
    }
})
<? $this->headScript()->captureEnd() ?>
