<? if($this->report): ?>
    <h4>LOT <?= $this->report['lot'] ?></h4>
    <div class="span3" style="margin-left: 0px">
        <table class="table table-bordered table-striped table-condensed">
            <tbody>
                <tr><td>Package</td><td><?= $this->report['package'] ?></td></tr>
                <tr><td>Customer</td><td><?= $this->report['customer'] ?></td></tr>
                <? if(count($this->report['report'])): ?>
                <tr><td>MC</td>
                    <td><?= $this->report['report'][0]['area'] ?> -
                        <?= $this->report['report'][0]['mc-number'] ?></td></tr>
                <tr><td>Problem</td><td><?= $this->report['report'][0]['reject-qty'] ?>
                    <?= $this->report['report'][0]['reject-name'] ?></td></tr>
            <? endif ?>
            </tbody>
        </table>
    </div>
    <div class="span7">
        <? if(count($this->report['report'])): ?>
        <h5>Description</h5>
        <p><?= nl2br($this->report['report'][0]['description']) ?></p>
        <h5>Corrective/Containment Action</h5>
        <p><?= nl2br($this->report['report'][0]['ca']) ?></p>
        <? if(count($this->images)): ?>
            <h5>Pictures</h5>
            <? foreach($this->images as $img): ?>
            <div class="span8" style="margin: 10px">
                <img src="<?= $this->baseUrl($img['link']) ?>" class="img-polaroid">
            </div>
            <? endforeach ?>
            <div class="clearfix"></div>
        <? endif ?>
        <? endif ?>
    </div>
<? endif ?>
