<address>
    <strong><?= $this->properties['fullname'] ?></strong><br>
    <?= $this->properties['role'] . ' | Shift : ' . $this->properties['shift'] ?><br>
    <abbr title="username"><?= $this->properties['username'] ?></abbr>
</address>
<hr>
<ul class="nav nav-pills">
  <li class="active">
    <a class="properties" section="area" href="#">Area Assignment</a>
  </li>
  <li><a class="properties" section="package" href="#">Package Assignment</a></li>
  <li><a class="properties" section="password" href="#">Change Password</a></li>
</ul>
<div id="area-section" class="profiles">
    <? if(count($this->properties['assignment'])): ?>
        <ol>
            <? foreach($this->properties['assignment'] as $a): ?>
                <li><?= $this->area[$a] ?></li>
            <? endforeach ?>
        </ol>
    <? endif ?>
</div>
<div id="package-section" class="profiles hide">
    <? if(count($this->properties['group-packages'])): ?>
        <ol>
            <? foreach($this->properties['group-packages'] as $p): ?>
                <li><?= $p ?></li>
            <? endforeach ?>
        </ol>
    <? endif ?>
</div>
<div id="password-section" class="profiles hide">
<form class="form-horizontal" id="change-password" method="post"
    action="/profile/activity/a/change-password/format/html">
    <!--
	<div class="control-group">
	  <label class="control-label">Old Password</label>
	  <div class="controls">
		<input type="password" class="required"
		  id="old-password" placeholder="Old Password">
	  </div>
	</div>
-->
	<div class="control-group">
	  <label class="control-label">New Password</label>
	  <div class="controls">
		<input type="password" class="required" minLength="6"
		  name="password" id="password" placeholder="New Password">
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label">Confirm Password</label>
	  <div class="controls">
		<input type="password" class="required" minLength="6"
		  equalTo="#password"
		  name="confirm" placeholder="Confirm Password">
	  </div>
	</div>
	<div class="control-group">
	  <div class="controls">
		<button type="submit" id="btn-reject" class="btn btn-primary">Change Password</button>
	  </div>
	</div>
</form>
</div>
<script type="text/javascript">
$(function(){
	'use strict';
    $('.properties').click(function(el){
        el.preventDefault();
        var e = $(this),
            s = e.attr('section'),
            nav = e.closest('ul.nav-pills');
        nav.children('li').removeClass('active');
        e.parent('li').addClass('active');
        $('.profiles').addClass('hide');
        $('#' + s + '-section').removeClass('hide');
    })
	$('#change-password').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){
                    $('input, button').attr('disabled', 'disabled');
                },
                success: function(){
                    $(f).resetForm();
                    $('input, button').removeAttr('disabled');
                }
            });
        }
	});
})
</script>
