<div class="row">
	 <div class="span3 bs-docs-sidebar-" style="padding-left: 20px">
		 <dl>
			 <dt class="dt-nav shiftly-menu is-hand" id="shiftly" style="background-color: #0D47A1">
                 <i class="icon-align-justify icon-white" style="padding: 0px"></i>
                 Create Shiftly Report
             </dt>
		 </dl>
		 <dl>
			 <dt class="dt-nav shiftly-menu is-hand" id="shiftly-today" style="background-color: #33691E">
                 <i class="icon-align-justify icon-white" style="padding: 0px"></i>
                 My Shiftly <span style="font-size: .8em; font-weight: normal">(2 last days)</span>
             </dt>
		 </dl>
		 <dl>
			 <dt class="dt-nav" group-ref="g-ww" style="background-color: #E65100">
                 <i class="icon-align-justify icon-white  is-hand" style="padding: 0px"></i>
                 Explore My Shiftly By Workweek
             </dt>
			 <? foreach($this->wwList as $ww => $vv): ?>
                 <dd class="dd-nav hide g-ww  is-hand shiftly-menu" id="explore-ww"
                     ww-start="<?= $vv['start'] ?>"
                     ww-end="<?= $vv['end'] ?>">
                     <?= $ww ?> <span style="font-size: .8em">(<?= $vv['start'] ?>)</span>
                     <i class="icon-search pull-right"
                         style="padding: 0px;"></i>
                 </dd>
             <? endforeach ?>
		 </dl>
	 </div>
	 <div class="span9" id="shiftly-detail">
		 <? if(count($this->report)): ?>
		     <table class="table table-bordered table-striped table-condensed">
		         <thead>
		             <tr>
		                 <th>No</th>
		                 <th>Lot</th>
		                 <th>Package</th>
		                 <th>Customer</th>
		                 <th>MC</th>
						 <th>Status</th>
		                 <th>Problem</th>
		                 <th># Reject</th>
		             </tr>
		         </thead>
		         <tbody style="font-size: .9em">
					 <? $i = 1 ?>
		             <? foreach($this->report as $m0): ?>
					 	<? if(count($m0['report'])): ?>
							<? foreach($m0['report'] as $k => $r): ?>
				                 <tr class="report is-hand" report-id="<?= $r['id'] ?>">
				                     <td><?= $i ?></td>
				                     <td><?= $m0['lot'] ?></td>
				                     <td><?= $m0['package'] ?></td>
				                     <td><?= $m0['customer'] ?></td>
				                     <td><?= $r['area'] . '-' . $r['mc-number'] ?></td>
									 <td><?= $r['problem-type'] ?></td>
				                     <td><?= $r['reject-name'] ?></td>
				                     <td><?= $r['reject-qty'] ?></td>
				                 </tr>
								 <? $i++ ?>
						 <? endforeach ?>
					 	<? endif ?>
		             <? endforeach ?>
		         </tbody>
		     </table>
		     <hr>
		     <div id="report-detail"></div>
		     <script type="text/javascript">
		     $(function(){
		         'use strict';
		         $('.report').click(function(){
		             var e = $(this),
		                 rid = e.attr('report-id');
		             $('#report-detail').html('<div style="padding: 20px; text-align: center">'
		                 + '<img src="/img/engine.gif"></div>')
		             $.post('/shiftly/open/a/report-detail/format/html',
		                 {id: rid}, function(html){
		                     $('#report-detail').html(html);
		             });
		         })
		     })
		     </script>
		 <? else: ?>
		 	<div class="alert alert-info">No Report</div>
		 <? endif ?>
	 </div>
 </div>

 <script type="text/javascript">
 $(function(){
	 'use strict';
	 $.post('/shiftly/support/a/reject-list/format/html', {}, function(j){

	 });
	 $('.dt-nav .icon-align-justify').click(function(){
         var r = $(this).parent('dt.dt-nav'),
             g = r.attr('group-ref');
         $('dd.' + g).toggleClass('hide');
     });
	 $('.shiftly-menu').click(function(){
		 var e = $(this),
		 	 a = this.id,
			 w0 = e.attr('ww-start'),
			 w1 = e.attr('ww-end');
	 	 $('.nav-active').removeClass('nav-active');
     	e.addClass('nav-active');
		$('#shiftly-detail').html('<div style="padding: 20px; text-align: center">'
			+ '<img src="/img/engine.gif"></div>')
		 $.post('/shiftly/open/a/' + a + '/format/html', {ww0: w0, ww1: w1}, function(html){
			 $('#shiftly-detail').html(html);
		 })
	 })
 });
 </script>
