<? if($this->report): ?>
    <h4 id="lot" x-id="<?= $this->report['report'][0]['id'] ?>"
        x-lot="<?= $this->report['lot'] ?>"
        style="margin-bottom: 10px;">
        <i class="icon-trash is-hand" id="delete-report" title="Delete This Report"></i>
        LOT <?= $this->report['lot'] ?>
        <span id="delete-report-dialog" style="font-weight: normal"></span>
    </h4>
    <div class="span4" style="margin-left: 0px">
        <table class="table table-bordered table-striped table-condensed">
            <tbody>
                <tr><td>Package</td><td>
                    <span class="display-main" x-field="package_name"><?= $this->report['package'] ?></span>
                    <span x-field="package_name"></span>
                        <i class="icon-pencil is-hand update-main-report pull-right"
                            x-field="package_name"></i>
                </td></tr>
                <tr x-field="package_name" class="hide"><td></td></tr>
                <tr><td>Customer</td><td>
                    <span class="display-main" x-field="customer_code"><?= $this->report['customer'] ?></span>
                    <span class="control-main" x-field="customer_code"></span>
                        <i class="icon-pencil is-hand update-main-report pull-right"
                            x-field="customer_code"></i>
                </td></tr>
                <? if(count($this->report['report'])): ?>
                <tr><td>MC</td>
                    <td><?= $this->report['report'][0]['area'] ?> -
                        <span id="mc_number-0"><?= $this->report['report'][0]['mc-number'] ?></span>
                        <span x-field="mc_number"></span>
                        <i class="icon-pencil is-hand update-report pull-right" x-field="mc_number"></i>
                    </td></tr>
                <tr><td>Problem</td><td><span id="display-problem">
                    <?= $this->report['report'][0]['reject-qty'] ?>
                    <?= $this->report['report'][0]['reject-name'] ?></span>
                    <i class="icon-pencil is-hand pull-right" id="upd-qty-reject"
                        x-area="<?= $this->report['report'][0]['area'] ?>"
                        x-qty="<?= $this->report['report'][0]['reject-qty'] ?>"
                        x-code="<?= $this->report['report'][0]['reject-code'] ?>"></i>
                    </td></tr>
                <tr class="hide" id="tr-upd-qty-reject"><td colspan="2"></td></tr>
            <? endif ?>
            </tbody>
        </table>
    </div>
    <div class="span8">
        <? if(count($this->report['report'])): ?>
        <h5><i class="icon-pencil is-hand update" x-section="problem_desc"
                title="Edit Description"></i>
            <i class="icon-ok-sign is-hand update-confirm hide" x-section="problem_desc"
                title="Confirm Update"></i>
            <i class="icon-remove-sign is-hand update-cancel hide" x-section="problem_desc"
                title="Confirm Update"></i>
            Description <span class="update-status" x-section="problem_desc"
                style="font-weight: normal; color: blue"></span></h5>
        <p><textarea class="input-xxlarge" readonly
            id="problem_desc"><?= nl2br($this->report['report'][0]['description']) ?></textarea></p>
        <h5><i class="icon-pencil is-hand update" x-section="problem_ca"
                title="Edit Description"></i>
            <i class="icon-ok-sign is-hand update-confirm hide" x-section="problem_ca"
                title="Confirm Update"></i>
                Corrective/Containment Action <span class="update-status" x-section="problem_ca"
                    style="font-weight: normal; color: blue"></span></h5>
        <p><textarea class="input-xxlarge" readonly
            id="problem_ca"><?= nl2br($this->report['report'][0]['ca']) ?></textarea></p>

        <hr>
        <? if(count($this->images)): ?>
            <h5>Pictures</h5>
            <? foreach($this->images as $img): ?>
            <div class="span8 span-img" style="margin: 10px" x-id="<?= $img['id'] ?>">
                <img src="<?= $this->baseUrl($img['link']) ?>" class="img-polaroid">
                <span class="label label-warning is-hand del-image"
                    x-id="<?= $img['id'] ?>" x-file="<?= $img['link'] ?>">
                    <i class="icon-remove-sign icon-white"></i> Delete Picture</span>
                <span class="del-image-confirm" x-id="<?= $img['id'] ?>"></span>
            </div>
            <? endforeach ?>
            <div class="clearfix"></div>
        <? endif ?>
        <span id="insert-picture" class="is-hand btn btn-info"
            data-url="/shiftly/upload-image/lot/<?= $this->report['report'][0]['id'] ?>">
            <i class="icon-picture icon-white"></i> Insert Picture</span>
        <div class="iframImage" style="border:1px solid #ccc; display: none">
            <i class="icon-remove-sign is-hand" style="margin: 10px; float: right" id="close-upload"></i>
            <iframe id="iframe" src="" style="zoom:0.60" width="99.6%" height="500" frameborder="1"></iframe>
        </div>
        <? endif ?>
    </div>
<? endif ?>
<script type="text/javascript">
$(function(){
    'use strict';
    var xId = $('#lot').attr('x-id');
    var xLot = $('#lot').attr('x-lot');
    var rejects;
    var customers;
    var packages;
    $('.update-main-report').click(function(){
        var e = $(this),
            f = e.attr('x-field');
        e.addClass('hide');
        if(f == 'customer_code'){
            $('span.control-main[x-field="' + f + '"]')
                .html('<select id="customer-code">'
                    + '<option value="">Select Customer</option></select>'
                    + ' <span class="btn btn-primary is-confirm-main" x-field="customer_code">'
                    + 'Upd</span>'
                    + ' <span class="btn is-cancel-main" x-field="customer_code">Cancel</span>');
            if(!customers){
                $.get('/api/customer-list', {}, function(j){
                    if(j.customer){
                        customers = j.customer;
                        $.each(j.customer, function(k, l){
                            $('#customer-code')
                                .append('<option value="' + l.code + '">' + l.name + '</option>');
                        });
                    }
                });
            }else{
                $.each(customers, function(k, l){
                    $('#customer-code').append('<option value="' + l.code + '">' + l.name + '</option>');
                });
            }
        }
        if(f == 'package_name'){
            $('tr[x-field="' + f + '"]').removeClass('hide')
                .html('<td colspan="2">'
                    + '<select id="package-group-0" class="input-small">'
                        + '<option value="">Select ..</option></select>'
                    + '<select id="package-name">'
                        + '<option value="">Select Package</option></select>'
                    + ' <span class="btn btn-primary is-confirm-main" x-field="package_name">'
                    + 'Upd</span>'
                    + ' <span class="btn is-cancel-main" x-field="package_name">Cancel</span></td>');
            $.get('/api/packages-assignment', {}, function(j){
                if(j.groups){
                    $.each(j.groups, function(k, l){
                        $('#package-group-0').append('<option value="' + l + '">' + l + '</option>');
                    });
                }
                $('#package-group-0').change(function(){
                    var e1 = $(this),
                        v1 = e1.val();
                    $('#package-name').html('<option value="">Select Package</option>');
                    if(j.packages && j['packages'][v1] && j['packages'][v1]['packages'].length){
                        $.each(j['packages'][v1]['packages'], function(k, l){
                            $('#package-name')
                                .append('<option value="' + l.name + '">' + l.name + '</option>');
                        });
                    }
                });
            });
        }
        $('.is-cancel-main').click(function(){
            var e1 = $(this),
                f1 = e1.attr('x-field');
            if(f1 == 'customer_code') $('span.control-main[x-field="' + f1 + '"]').empty();
            if(f1 == 'package_name') $('tr[x-field="' + f1 + '"]').addClass('hide').empty();
            e.removeClass('hide');
        });
        $('.is-confirm-main').click(function(){
            var e1 = $(this),
                f1 = e1.attr('x-field'),
                c1  = $('#customer-code').val(),
                p1  = $('#package-name').val();
            if(c1 || p1){
                $.post('/shiftly/open/a/report-control/format/html',
                    {main: xLot, cust: c1, pkg: p1}, function(j1){
                        $('.display-main[x-field="' + f1 + '"]').html(j1[f1]).css('color', 'blue');
                });
            }
            if(f1 == 'customer_code') $('span.control-main[x-field="' + f1 + '"]').empty();
            if(f1 == 'package_name') $('tr[x-field="' + f1 + '"]').addClass('hide').empty();
            e.removeClass('hide');
        });
    })
    $('#upd-qty-reject').click(function(){
        var e = $(this),
            a = e.attr('x-area'),
            q = e.attr('x-qty'),
            cd = e.attr('x-code');
        e.addClass('hide');
        $('#tr-upd-qty-reject').removeClass('hide');
        $('#tr-upd-qty-reject td')
            .html('<input type="text" id="qty_reject"'
                + ' style="margin: 0px; width: 40px" value="' + q + '">'
            + ' <select id="reject-code" style="margin: 0px;">'
                + '<option value="">Select Reject ..</option></select>'
            + ' <br><span class="btn btn-primary is-confirm" style="margin-top: 10px">'
            + 'Upd</span>'
            + ' <span class="btn is-cancel" style="margin-top: 10px">Cancel</span>');
        $('.is-cancel').click(function(){
            $('#tr-upd-qty-reject').addClass('hide');
            e.removeClass('hide');
        });
        if(!rejects){
            $.get('/shiftly/open/a/get-reject-by-area/format/html', {area: a}, function(j){
                rejects = j;
                if(j.length){
                    $.each(j, function(k, l){
                        $('#reject-code')
                            .append('<option value="' + l.code +'">' + l.name + '</option>');
                    })
                }
            });
        }else{
            if(rejects.length){
                $.each(rejects, function(k, l){
                    $('#reject-code')
                        .append('<option value="' + l.code +'">' + l.name + '</option>');
                });
            }
        }
        $('.is-confirm').click(function(){
            var v0 = $.trim($('#qty_reject').val());
            var f = 'reject_qty';
            var f2 = 'reject_code';
            var v2 = $('#reject-code').val();
            var tx = $("#reject-code option:selected" ).text();
            if(v2 != ''){
                $.post('/shiftly/open/a/report-control/format/html',
                    {upd: xId, f: f, v: v0, f2: f2, v2: v2}, function(jx){
                        $('#display-problem').html(v0 + ' ' + tx).css('color', 'blue');
                        $('#tr-upd-qty-reject').addClass('hide');
                        e.removeClass('hide').attr('x-qty', v0);
                });
            }
        });
    });
    $('.update-report').click(function(){
        var e = $(this),
            f = e.attr('x-field');
        e.addClass('hide');
        $('span[x-field="' + f + '"]')
            .html('<input type="text" id="mc_number" style="margin: 0px; width: 40px">'
            + ' <span class="btn btn-primary is-confirm" x-field="mc_number">'
            + 'Upd</span>'
            + ' <span class="btn is-cancel" x-field="mc_number">Cancel</span>');
        $('.is-cancel').click(function(){
            $('span[x-field="' + f + '"]').empty();
            e.removeClass('hide');
        });
        $('.is-confirm').click(function(){
            var v0 = $.trim($('#' + f).val());
            $.post('/shiftly/open/a/report-control/format/html', {upd: xId, f: f, v: v0}, function(j){
                $('span[x-field="' + f + '"]').empty();
                e.removeClass('hide');
                $('#' + f + '-0').html(v0).css('color', 'blue');
            });
        });
    })
    $('#delete-report').click(function(){
        var e = $(this);
        e.addClass('hide');
        $('#delete-report-dialog').html('<span class="btn btn-danger is-confirm" id="confirm-delete-report">'
            + 'Are you sure want to delete this report?</span>'
            + ' <span class="btn" id="cancel-delete-report">Cancel</span>');
        $('#cancel-delete-report').click(function(){
            $('#delete-report-dialog').empty();
            e.removeClass('hide');
        });
        $('#confirm-delete-report').click(function(){
            $.post('/shiftly/open/a/report-control/format/html', {del: xId}, function(j){
                if(j.del){
                    $('#report-detail').empty();
                    $('tr.report[report-id="' + xId + '"]').addClass('hide');
                }
            });
        });
    });
    $('.update').click(function(){
        var e = $(this),
            s = e.attr('x-section');
        e.addClass('hide');
        $('.update-status[x-section="' + s + '"]').empty();
        $('.update-confirm[x-section="' + s + '"]').removeClass('hide');
        $('#' + s).removeAttr('readonly');
    });
    $('.update-confirm').click(function(){
        var e = $(this),
            s = e.attr('x-section'),
            v = $.trim($('#' + s).val());
        $.post('/shiftly/open/a/report-control/format/html', {upd: xId, f: s, v: v}, function(j){
            e.addClass('hide');
            $('.update[x-section="' + s + '"]').removeClass('hide');
            $('#' + s).attr('readonly', 'readonly');
            $('.update-status[x-section="' + s + '"]').html('Updated');
        });
    });
    $('.del-image').click(function(){
        var e = $(this),
            i = e.attr('x-id'),
            f = e.attr('x-file');
        $('.del-image').removeClass('hide');
        e.addClass('hide');
        $('.del-image-confirm').empty();
        $('.del-image-confirm[x-id="' + i +'"]').html('<span class="btn btn-danger is-confirm" id="del-img">'
            + 'Confirm Delete Image Above</span>'
            + ' <span class="btn" id="cancel-delete">Cancel</span>');
        $('#cancel-delete').click(function(){
            e.removeClass('hide');
            $('.del-image-confirm[x-id="' + i +'"]').empty();
        });
        $('#del-img').click(function(){
            $.post('/shiftly/open/a/image-report-control/format/html', {del: i, f: f}, function(j){
                if(j.del){
                    $('.span-img[x-id="' + i + '"]').empty().hide();
                }
            });
        })
    });

    var frameSrc = $('#insert-picture').data('url');
    $('#insert-picture').click(function(){
        $(this).hide();
        $('#iframe').parent().show();
        $('#iframe').attr("src",frameSrc);
        //$('.otherInfo').hide();
    });
    $('#close-upload').click(function(){
        $('#insert-picture').show();
        $('#iframe').parent().hide();
        $('.otherInfo').show();
    });
})
</script>
