<? if(count($this->report)): ?>
    <? if($this->urlappx): ?>
        <div id="main-chart" url-appx="<?= $this->urlappx ?>"></div>
    <? endif ?>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                <th>No</th>
                <th>Lot</th>
                <th>Package</th>
                <th>Customer</th>
                <th>MC</th>
                <th>Status</th>
                <th>Problem</th>
                <th># Reject</th>
            </tr>
        </thead>
        <tbody style="font-size: .9em;">
            <? $i = 1 ?>
            <? foreach($this->report as $m0): ?>
               <? if(count($m0['report'])): ?>
                   <? foreach($m0['report'] as $k => $r): ?>
                        <tr class="report is-hand" report-id="<?= $r['id'] ?>">
                            <td><?= $i ?></td>
                            <td><?= $m0['lot'] ?></td>
                            <td><?= $m0['package'] ?></td>
                            <td><?= $m0['customer'] ?></td>
                            <td><?= $r['area'] . '-' . $r['mc-number'] ?></td>
                            <td><?= $r['problem-type'] ?></td>
                            <td><?= $r['reject-name'] ?></td>
                            <td><?= $r['reject-qty'] ?></td>
                        </tr>
                        <? $i++ ?>
                <? endforeach ?>
               <? endif ?>
            <? endforeach ?>
        </tbody>
    </table>
    <hr>
    <div id="report-detail"></div>
    <script type="text/javascript">
    $(function(){
        'use strict';
        $('.report').click(function(){
            var e = $(this),
                rid = e.attr('report-id');
            $('#report-detail').html('<div style="padding: 20px; text-align: center">'
                + '<img src="/img/engine.gif"></div>')
            $.post('/shiftly/open/a/report-detail/format/html',
                {id: rid}, function(html){
                    $('#report-detail').html(html);
            });
        });
        if($('#main-chart').length){
            setTimeout(function(){
                $('#main-chart')
                    .html('<div style="padding: 20px; text-align: center"><img src="/img/block-80.gif"></div>');
                    var ex0 = $('#main-chart').attr('url-appx');
                    $.post('/api/source-chart' + ex0, {}, function(j){
                        if(j.package){
                        $('#main-chart').html('<div class="panel panel-primary">'
                			+ '<div class="panel-heading"><h3 class="panel-title">' + j.package.title + '</h3>'
                                + '<span source="package" class="is-hand chart-display label label-warning">Package Distribution</span> '
                                + '<span source="mc"  class="is-hand chart-display label">Machine Distribution</span> '
                                + '<span source="problem" class="is-hand chart-display label">Problem Distribution</span> '
                                + '<span source="customer" class="is-hand chart-display label">Customer Distribution</span> '
                			+ '</div><div class="panel-body chart-background" style="padding: 10px">'
                			+ '<div id="simple-chart" style="width: 800px; height: 300px;"></div></div></div>');
                            generalChart('simple-chart', j.package.source);
                            $('.chart-display').click(function(){
                                var e = $(this),
                                    s = e.attr('source'),
                                    st = e.text(),
                                    s0 = j[s];
                                $('.chart-display').removeClass('label-warning');
                                e.addClass('label-warning');
                                $('h3.panel-title').html(s0.title);
                                $('#simple-chart').empty();
                                generalChart('simple-chart', s0.source);
                            });
                        } else $('#main-chart').html('Chart failed to generate').css('color', '#fff');
                    });
            }, 100);
        }
    })
    </script>
<? else: ?>
    <div class="alert alert-info">No Report</div>
<? endif ?>
