<h4>Create Shiftly Report : </h4>
<form class="form-horizontal" id="create-shiftly" method="post"
    action="/shiftly/open/a/shiftly-add/format/html">

  <div class="control-group">
    <label class="control-label" >Lot Number</label>
    <div class="controls">
      <input type="text" class="required"
        m="report" f="lot" id="lot-number"
        name="lot" placeholder="Lot Number">
        <i id="search-lot" class="icon-search is-hand"  title="Search Lot"
            style="margin: 5px 10px 0px"></i>
    </div>
  </div>
  <div class="control-group main-report hide">
    <label class="control-label">Package</label>
    <div class="controls">
        <select id="groups" class="main-input">
            <option value="">Select Package Group ..</option>
            <? if(count($this->attributes['package-list'])): ?>
                <? foreach($this->attributes['package-list'] as $nm): ?>
                    <option value="<?= $nm['name'] ?>"><?= $nm['name'] ?></option>
                <? endforeach ?>
            <? endif ?>
        </select>
        <select id="package-name" name="package_name" class="required main-input">
          <option value="">Select Package ..</option>
          <? if(count($this->attributes['package-list'])): ?>
            <? foreach($this->attributes['package-list'] as $pkg): ?>
                <? if(count($pkg['packages'])): ?>
                    <? foreach($pkg['packages'] as $nm): ?>
                        <option value="<?= $nm['name'] ?>"><?= $nm['name'] ?></option>
                    <? endforeach ?>
                <? endif ?>
            <? endforeach ?>
          <? endif ?>
        </select>
    </div>
  </div>
  <div class="control-group main-report hide">
    <label class="control-label">Customer</label>
    <div class="controls">
        <select id="customer-code" name="customer_code" class="required main-input">
          <option value="">Select Customer ..</option>
          <? if(count($this->attributes['customer'])): ?>
            <? foreach($this->attributes['customer'] as $c): ?>
                <option value="<?= $c['code'] ?>"><?= $c['name'] ?></option>
            <? endforeach ?>
          <? endif ?>
        </select>
  </div>
  <div class="detail-report hide">
      <div class="control-group">
        <label class="control-label">MC/Area</label>
        <div class="controls">
            <select id="area-code" name="area_code" class="required">
              <option value="">Select MC/Area ..</option>
              <? if(count($this->attributes['user-area'])): ?>
                <? foreach($this->attributes['user-area'] as $area): ?>
                    <option value="<?= $area ?>"><?= $area ?></option>
                <? endforeach ?>
              <? endif ?>
            </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">MC Number</label>
        <div class="controls">
          <input type="text" class="required"
            name="mc_number" placeholder="MC Number">
        </div>
      </div>
      <? if(count($this->attributes['problem-type'])): ?>
      <div class="control-group">
        <label class="control-label">Report Type</label>
        <? foreach($this->attributes['problem-type'] as $t0): ?>
        <div class="controls">
            <label class="radio">
              <input type="radio" name="problem_category" value="<?= $t0['name'] ?>">
                <?= $t0['name'] ?>
            </label>
        </div>
        <? endforeach ?>
      </div>
      <? endif ?>
      <div class="control-group">
        <label class="control-label">Reject</label>
        <div class="controls">
            <select id="reject-code" name="reject_code" class="required">
              <option value="">Select Primary Reject ..</option>
              <? if(count($this->attributes['reject-list'])): ?>
                <? foreach($this->attributes['reject-list'] as $rj): ?>
                    <? if(count($rj)): ?>
                        <? foreach($rj as $c): ?>
                            <option value="<?= $c['code'] ?>"><?= $c['name'] ?></option>
                        <? endforeach ?>
                    <? endif ?>
                <? endforeach ?>
              <? endif ?>
            </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Reject Qty</label>
        <div class="controls">
          <input type="text" class="required" min="1"
            name="reject_qty" placeholder="Reject Qty">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Problem Description</label>
        <div class="controls">
            <textarea name="problem_desc" class="input-xxlarge"></textarea>
        </div>
     </div>
     <div class="control-group">
       <label class="control-label">Corrective Action</label>
       <div class="controls">
           <textarea name="problem_ca" class="input-xxlarge"></textarea>
       </div>
    </div>
     <div class="control-group">
       <label class="control-label">Processed By</label>
       <div class="controls">
         <input type="text"
           name="problem_pic" placeholder="Processed By">
       </div>
     </div>
     <? if(count($this->attributes['shift'])): ?>
     <div class="control-group">
       <label class="control-label">Shift</label>
       <div class="controls">
           <? foreach($this->attributes['shift'] as $shift): ?>
               <label class="checkbox inline">
                <input name="shift[]" type="checkbox" value="<?= $shift['name'] ?>"> <?= $shift['name'] ?>
              </label>
            <? endforeach ?>
       </div>
     </div>
     <? endif ?>
      <div class="control-group">
        <div class="controls">
          <button type="submit" id="btn-save-report" class="btn btn-primary">Save</button>
          <span id="saving-inprogress" class="hide"><img src="/img/blue.gif"></span>
        </div>
      </div>
  </div>
</form>

<script type="text/javascript">
$(function(){
    'use strict';
    var r0 = <?= json_encode($this->attributes['reject-list']) ?>;
    var p0 = <?= json_encode($this->attributes['package-list']) ?>;
    $('#lot-number').change(function(){
        var e = $(this),
            l = $.trim(e.val());
        $('#search-lot').removeClass('hide');
        if(l != ''){
            $('#search-lot, .main-report, .detail-report').addClass('hide');
            $.post('/shiftly/open/a/shiftly-get-lot/format/html', {lot: l}, function(j){
                $('').removeClass('hide');
                $('#search-lot, .main-report, .detail-report').removeClass('hide');
                if(j.lot){
                    $('#package-name').val(j.lot.package);
                    $('#customer-code').val(j.lot.customer);
                    $('.main-input').attr('disabled', 'disabled');
                }else{
                    $('.main-input').val('').removeAttr('disabled');
                }

            });
        }
    });
    $('#area-code').change(function(){
        var e = $(this),
            a = e.val();
        if(r0[a]) var r1 = r0[a];
        if(r1){
            $('#reject-code').html('<option value="">Select ' + a + ' Reject..</option>');
            $.each(r1, function(u, v){
                $('#reject-code').append('<option value="' + v.code + '">'
                    + v.name + '</option>');
            });
        }else{
            $('#reject-code').html('<option value="">' + a + ' Reject was not defined</option>');
        }
    });
    $('#groups').change(function(){
        var e = $(this),
            a = e.val();
        if(p0[a]) var r1 = p0[a];
        if(r1 && r1.packages){
            var r2 = r1.packages;
            if(r2.length){
                $('#package-name').html('<option value="">Select ' + a + ' Package ..</option>');
                $.each(r2, function(u, v){
                    $('#package-name').append('<option value="' + v.name + '">' + v.name + '</option>');
                })
            }else{
                $('#package-name').html('<option value="">' + a + ' Package not defined</option>');
            }
        }
    });
    $('.input-unique').change(function(){
        var e = $(this),
            v = $.trim(e.val()),
            m = e.attr('m'),
            f = e.attr('f');
        $.post('/admin/index/common/a/pre-validation/format/html',
            {m: m, f: f, v: v}, function(j){
                if(j.value == 0){
                    $('#btn-reject').removeAttr('disabled');
                }else{
                    $('#btn-reject').attr('disabled', 'disabled');
                    e.val('');
                }

        });
    });
    $('#create-shiftly').validate({
        submitHandler: function(f){
            $(f).ajaxSubmit({
                beforeSubmit: function(){
                    $('input').attr('readonly', 'readonly');
                    $('#btn-save-report').addClass('hide');
                    $('#saving-inprogress').removeClass('hide');
                },
                success: function(html){
                    $('#shiftly-detail').html(html);
                },
                error: function(){}
            })
        }
    })
})
</script>
