
<? if($this->main): ?>
    <h4>LOT <?= $this->main['lot'] ?></h4>
    <div class="span3" style="margin-left: 0px">
        <table class="table table-bordered table-striped table-condensed">
            <tbody>
                <tr><td>Package</td><td><?= $this->main['package_name'] ?></td></tr>
                <tr><td>Customer</td><td><?= $this->main['customer_code'] ?></td></tr>
                <? if($this->detail): ?>
                <tr><td>MC</td>
                    <td><?= $this->detail['area_code'] . '-' . $this->detail['mc_number'] ?></td></tr>
                <tr><td>Problem</td>
                    <td><?= $this->detail['reject_qty'] . ' ' . $this->detail['reject-name'] ?></td></tr>
                <? endif ?>
            </tbody>
        </table>
    </div>
    <div class="span9">
        <? if($this->detail): ?>
            <h5>Description</h5>
            <p><?= nl2br($this->detail['problem_desc']) ?></p>
            <h5>Corrective/Containment Action</h5>
            <p><?= nl2br($this->detail['problem_ca']) ?></p>
            <? if(count($this->images)): ?>
                <? foreach($this->images as $img): ?>
                <div class="span8" style="margin-right: 10px">
                    <img src="<?= $this->baseUrl($img['link']) ?>" class="img-polaroid">
                </div>
                <? endforeach ?>
                <div class="clearfix"></div>
            <? endif ?>

        <span id="insert-picture" class="is-hand btn btn-info"
            data-url="/shiftly/upload-image/lot/<?= $this->detail['idref'] ?>">
            <i class="icon-picture icon-white"></i> Insert Picture</span>
        <div class="iframImage" style="border:1px solid #ccc; display: none">
            <i class="icon-remove-sign is-hand" style="margin: 10px; float: right" id="close-upload"></i>
            <iframe id="iframe" src="" style="zoom:0.60" width="99.6%" height="500" frameborder="1"></iframe>
        </div>
        <? endif?>
    </div>
<? endif ?>
<script type="text/javascript">
$(function(){
    'use strict';
    var frameSrc = $('#insert-picture').data('url');
    $('#insert-picture').click(function(){
        $(this).hide();
        $('#iframe').parent().show();
        $('#iframe').attr("src",frameSrc);
        //$('.otherInfo').hide();
    });
    $('#close-upload').click(function(){
        $('#insert-picture').show();
        $('#iframe').parent().hide();
        $('.otherInfo').show();
    });
})
</script>
