
    <h4>Upload Image</h4>
    <hr>
    <? if($this->notification): ?>
        <div class="alert alert-info"><?= $this->notification ?></div>
    <? endif ?>
    <div class="span4" style="margin-top: -20px; margin-left: 0px">
        <? if($this->form): ?>
            <?= $this->form ?>
        <? endif ?>
    </div>
    <div class="span8">
        <? if($this->img && count($this->img)): ?>
            <h4>Uploaded Picture</h4>
            <img src="<?= $this->baseUrl($this->img['link']) ?>">
        <? endif ?>
    </div>
    <? if($this->notice): ?>
        <? $this->headMeta()->appendHttpEquiv('refresh', 'content=30; url=/manage') ?>
        <div>
            <?= $this->notice ?>
            <p>This page will be redirect within 30second,
                or you may click <a href="/manage">Back</a> to redirect directly</p>
        </div>
    <? endif ?>
