/* CSS PENDUKUNG
class buatan
style tambahan
custom, etc
*/
body {
  font-family: 'Open Sans', sans-serif;
}
input {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER =================================================*/
.header{
    height:75px;
    background: url(../img/header.png) left no-repeat;
}
/* MAIN CONTENT =================================================*/
.main-content{
    min-height:250px;
    background:#fff;
}
.login{
    margin-top:40px;
}
/* FOOTER =================================================*/
.copyright{
    padding-top:10px;
    border-top:1px solid #ccc;
    margin-top:20px;
}
.copyright,
.copyright span12{
    color:#333;
}

/* DASHBOARD =================================================*/
.dashboard{
    height:200px;
    border:1px solid #ccc;
    margin-bottom:25px;
}
.dashboard p{
    padding:10px 10px;
}
.h-header{
    padding:7px 10px;
    border-bottom:1px solid #ccc;
}
.nav .nav-header{
    font-size:18px;
    font-weight:normal;
}
.navbar .btn-group2{
    padding: 10px 5px 5px 6px;
    margin: 0;
}

/* CONTENT NAVIGATION */
.simple-navigation-left,
.simple-navigation-right{
    margin-bottom:15px;
    /*right:15px;*/
}
.simple-navigation-left i,
.simple-navigation-right i{
    margin-right:5px;
}
#list-active-specs,
#avl-specs{
    border-left : 1px solid #f4f4f4;
}

/* LEFT MENU */
.top-menu,
.left-menu{
    /*border:1px solid #ccc;*/
    margin-bottom:15px;
    padding-bottom:10px;
}
ul.nav-list {
    padding-top:10px;
    padding-bottom:10px;
}
.navbar .nav > li > a:hover{
    background:#00a2e9 !important;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav > li > a.active{
    background:#00a2e9 !important;
    color:#fff;
}
/* OVERRIDE from BOOTSTRAP - REMOVE BACKGROUND AND PADDING ======*/
.form-actions {
  padding: 15px 15px 15px;
  background-color: #FFF;
}

/* OVERRIDE from BOOTSTRAP - define Ht & Wd ======*/

/* OVERRIDE from BOOTSTRAP - INCREASE FONT SIZE, REMOVE TEXT TRASFORM ======*/
.nav .nav-header{
    font-size:18px;
    text-transform: none;
    font-weight:normal;
    border-bottom:1px dashed #ccc;
    padding-bottom:7px;
}

/* PRODUCT */
#add-specification,
.product-hierarchy-detail{
    margin-bottom:15px;
}
#search-section-result{
    margin-top:15px;
}
.explorer-title{
    font-size:14px;
}

.h-underline{
    border-bottom:1pc solid #ccc;
}

/*TABLE*/
/**
table td{
    float:left;
    padding:5px;
    width:130px;
}
*/
table thead td{
    background:#666;
    color:#fff;
    font-weight:bold;
}
 table.spec th{
    font-weight:normal;
 }

/*DL, DT, DD TAGS LIST DATA*/
dl.supplier-view {
    margin-bottom:20px;
}

dl.supplier-view dt{
    float:left;
    margin-right:10px;
    padding:3px;
    width:80px;
    font-weight:bold;
}

dl.supplier-view dd {
    padding:3px;
}
dl {
    margin-bottom: 5px !important;
}
.bordertop{
    border-top:1px solid #e0f1f9;
}

legend{margin-bottom: 5px; font-size: 15.5px; line-height: 20px;}
div.control-group{margin-top: 5px; margin-bottom: 5px}
div.form-actions{margin-top: 5px; margin-bottom: 5px; padding-top: 5px; padding-left: 0px;}
div.header-label{padding: 5px; background-color: #0074CC; color: #FFF;}
tr.return, tr.stock{color: rgb(62, 62, 204);}
tr.withdraw{color: rgb(25, 153, 25);}
tr.product-list, .icon-view{cursor: pointer;}
.not-active-status{color: #CCC;}
.is-hand{cursor: pointer; *cursor: hand;}
.point-select{color: blue; font-weight: bold}


i.pull-right{
    margin-top:0px !important;
    *margin-top:-18px !important;
    padding-right: 10px;
}
#gallery img{
    max-width: 300px;
    height: auto;
}


/* apr2014 */
.home-logo{
    display: block;
    height: 100px;
    background: url(../img/logo-shimano.jpg) center no-repeat;
    margin-top: 200px;
    margin-bottom: 10px;
}
input.inpt-clean-1{
    height:25px;
    width:550px;
    padding:10px 20px;
    text-align:center;
    font-size:20px;
}
input.inpt-clean-2{
    width:550px;
    padding:0px 0px;
    text-align:center;
    font-size:12px;
    border:1px solid #fff;
    background:#fff;
    box-shadow: none;
    transition: none;
}

.form-actions{
    border:none !important;
}

#form-login{
    padding: 35px 35px;
    border:1px solid #ccc;
}
.form-actions #submit{
    width: 220px;
    padding:10px 0;
}

/* new  2015 */
textarea{height: 50px}
.simple-navigation{padding: 5px; background-color: #fff}
.active-status{font-weight: bold; color: green; font-size: 1.2em; }
.active-row{font-weight: bold;color: blue; font-size: 1.2em}

/* list three view */
ul#root-hierarchy ul,
ul#root-hierarchy li{
    border-top: 1px dotted #dedede;
}
.selected{border-left: solid 2px blue; color: blue}

.inprogress-section{
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    background: url(../img/engine.gif) top no-repeat;
}


/* bootstrap 2.0 dropdown on hover */
.sidebar-nav {
    padding: 9px 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
    background-color: white;
    background-image: none;
    filter: none;
}

.dropdown:hover .dropdown-menu {
    display: block !Important;
    background-color: white;
    background-image: none;
    filter: none;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

.text-warning {
  color: #c09853;
}
.muted {
  color: #999999;
}
.text-error {
  color: #b94a48;
}
.text-info {
  color: #3a87ad;
}
.text-success {
  color: #468847;
}
td.center, th.center{text-align: center; vertical-align: middle}
.active-category {font-weight: bold;}
.active-mc-category {font-weight: bold; color: blue;}
.active-type-category {font-weight: bold; color: green;}
.active-part-category {font-weight: bold; color: brown;}
td.required{color: blue}
div.modal{top: 100%;}
.span-center{float: none !important; margin-left: auto !important; margin-right: auto !important;}

#setting-supplier{
    margin-top:60px;
}
tr.loss{color: red !important}
tr.gain{color: blue !important}
/**
.treeview .hitarea {
    position: absolute;
}
*/

.no-outer-left{margin-left: 0px}
.no-inner-left{padding-left: 0px}
.dt-nav{padding: 5px; background-color: #0088cc; color: #ffffff; margin: 10px 0px 0px}
.chart-background{background: rgb(57,57,57);}

/* Bootstrap 3 */
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-primary {
  border-color: #337ab7;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #337ab7;
}
.panel-primary > .panel-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #337ab7;
}
.dd-nav{background-color: #ccc; padding: 5px; margin: 0px; border-bottom: solid 1px #fff}
.nav-active{border-left: solid 4px #f89406; color: blue; font-weight: bold}
